.container-header {
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-end;
  left: 0;
  opacity: 0.8;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
}

header > p {
  border: none;
  color: black;
  display: flex;
  line-height: 200%;
  min-width: 100px;
  opacity: 0.8;
}

.logo {
  background-image: url('https://cdn-icons-png.flaticon.com/512/218/218390.png');
  background-size: cover;
  height: 50px;
  left: 10px;
  position: absolute;
  width: 50px;
}

.div-currency {
  align-items: center;
  display: flex;
  padding-inline: 1rem;
}

span {
  padding: 8px;
}
