.div-table {
  left: 0;
  line-height: 200%;
  position: absolute;
  top: 130px;
  width: 100%;
}

.table {
  width: 100%;
}

th , td {
  border: 1px hsl(98, 100%, 50%) solid;
  text-align: center;
  width: 100px;
}

.trash , .create {
  background: hsla(236, 60%, 18%, 0);
  border: none;
}
