@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  --background-color: hsla(236, 60%, 18%, 0.71);
}

body {
  align-items: center;
  background: var(--background-color);
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
